:root {
  --pantry-brown: #603022;
}

.pantry-bg-red {
  background-color: #a1352d;
}

.pantry-bg-brown {
  background-color: var(--pantry-brown);
}
.pantry-text-brown {
  color: var(--pantry-brown);
}
.pantry-bg-yellow {
  background-color: #fbd54a;
}
.pantry-bg-yellow2 {
  background-color: #fffef2;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fffef2;
}
